{% extends "my_canteen/base.html" %}
{% block content %}
<h2>Welcome to UAP CanteenX 🍴</h2>

<h3>🔥 Popular Items</h3>
<div class="card-grid">
    {% for item in popular_items %}
    <div class="card">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% else %}
            <img src="https://via.placeholder.com/150" alt="No Image">
        {% endif %}
        <h3>{{ item.name }}</h3>
        <p>Price: {{ item.price }} Tk</p>
    </div>
    {% empty %}
        <p>No popular items found.</p>
    {% endfor %}
</div>
{% endblock %}
